body{
    overflow: hidden;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

#guiRoot{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    background-color: rgba(44,44,44,0.4);
    color: #dcdcdc;
}

.control{
    display: flex;
}

.row{
    flex: 1 1 1;
    padding: 0.5rem;
    width: 33%;
    display: flex;
    flex-direction: column;
}

#scoreRoot{
    position: absolute;
    top: 0;
    right: 0;
}

#scoreText {
    font-size: 1.1rem;
    background-color: rgba(242,242,242, 0.7);
}